

.container-prank-A {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.img-prank-A {


  animation: 5s img-prank infinite;
}


@keyframes img-prank {

}