

:root {
  --text-moda-studio-color: #fff ;
  --bg-moda-studio-color: #000 ;
  --font-moda-studio-size-large: 5rem ;
}

.text-moda-studio {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-moda-studio-color);
  color: var(--text-moda-studio-color);  
}

.text-moda-studio p {
  /* ? clamp(min, ideal, max) */
  font-size: clamp(50px, 5vw ,100px); 
  /*? hindi na baba ng 50px, original size 5vw, hindi na tataas ng 100px */
  font-family: "Kanit", sans-serif; 
  animation: 2s changing-colors 1 forwards;


}


@keyframes changing-colors {

  0% {
    color: #fff;
    text-shadow: 30px 40px 100px #FFDA1F;
  }

  30% {
    color: #FFDA1F;
    text-shadow: 30px 40px 100px #202FFE;
  }

  50% {
    color: #202FFE;
    text-shadow: 30px 40px 100px #ED3731;
  }

  70% {
    color: #ED3731;
    text-shadow: 30px 40px 100px #fff;
  }

  100% {
    color: #fff;
    text-shadow: 30px 40px 100px #fff;
  }
}


@keyframes flicker{

}