/* ! Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* ? Roboto */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*? Poppins*/

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*? Kanit*/

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');  /* ? Indie Flower, serif */

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); /*? Spectral, serif */

/*! End of Fonts  */


:root {

  /** Colors */
  --clr-black: #000;
  --clr-white: #fff ;
  --clr-yellow: #FFDA1F ;
  --clr-blue: #202FFE ;
  --clr-red: #ED3731 ;

  /** Color - Red*/

  --clr-Red-50: #ffe5e5; /*? Lightest */
  --clr-Red-100: #ffcccc;
  --clr-Red-200: #ff9999;
  --clr-Red-300: #ff6666;
  --clr-Red-400: #ff3333;
  --clr-Red-500: #ff0000;
  --clr-Red-600: #cc0000;
  --clr-Red-700: #990000;
  --clr-Red-800: #660000;
  --clr-Red-900: #330000;
  --clr-Red-950: #190000; /*? Darkest */

  /** Color - Green*/

  --clr-green-50: #e9fbf0; /*? Lightest */
  --clr-green-100: #cff7de;
  --clr-green-200: #9fefbc;
  --clr-green-300: #6fe69b;
  --clr-green-400: #40de7a;
  --clr-green-500: #22c55e;
  --clr-green-600: #1b9d4b;
  --clr-green-700: #147538;
  --clr-green-800: #0d4e25;
  --clr-green-900: #072713;
  --clr-green-950: #04160a; /*? Darkest *

}



* {
  
  font-family: "Roboto", sans-serif; /** Normal font for all elements */
  font-size: 400; 
  margin: 0;
  padding: 0;

}
